<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Monolog\Logger">
        <plugin name="magify_slack_notifier_logger" type="Magify\SlackNotifier\Plugin\Logger" />
    </type>

    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="dev/slack_notifier/token" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>
</config>
